{% extends "base.html" %}
{% block content %}
      <div class="well">
        <h2>Available tasks</h2>
        <div class="row-fluid">

			{% for lang in langs %}
				
				{% for task in object_list %}
				 <br><h4><a href="task/{{ lang.name  }}/{{ task.id }}"> {{ task.name  }} by {{ lang.name  }}</a><h4>
				{% empty %}
				<h3> Sorry, tasks</h3>
				{% endfor %}
							
			{% empty %}
				<h3> Sorry, no languages</h3>
			{% endfor %}
					
          
          </div>
        </div>
  


{% endblock %}
