{% extends "base.html" %}
{% block extra_head %}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<style>
#sortable1 li, #sortable2 li { margin: 10px; padding: 10px; font-size: 1.2em; display: table; vertical-align:left;}
</style>
<script type="text/javascript" src="/static/CSRF_cookie.js"%}></script>
<script type="text/javascript" src="/static/script.js"%}></script> 
 


{% endblock %}
{% block content %}
      <div class="well">
        
        <div class="row-fluid">
          <h3>{{ task.desription }}<h3>

			<div class="sell">
				<div id="tabs">
					<ul>
						<li><a href="#tabs-1">Clipboard</a></li>
					</ul>
					<div id="tabs-1">
						<ul id="sortable1" class="connectedSortable ui-helper-reset ">
							{% for block in object_list %}
							
							<li class="ui-state-default" style="margin: 0px; padding: 0px;"><pre style="margin: 0px;">{{ block.code }}</pre></li>
							
							{% endfor %}
					
						</ul>
					</div>
				

          
          </div>
          <form action="." method="post" id="click_me">{% csrf_token %}
			 <button type="submit" class="btn btn-large btn-block">Submit</button> 
		  <form>
        </div>
  


{% endblock %}
